@font-face {
  font-family: "Gill Sans";
  font-display: swap;
  src: url("../fonts/gillsans.woff2"), url("../fonts/gillsans.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  font-display: swap;
  src: url("../fonts/gillsans-bold.woff2"), url("../fonts/gillsans-bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  font-display: swap;
  src: url("../fonts/gillsans-extrabold.woff2"), url("../fonts/gillsans-extrabold.woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  font-display: swap;
  src: url("../fonts/gillsans-black.woff2"), url("../fonts/gillsans-black.woff");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  margin: 0 auto;
  padding: 0 136px;
  min-width: 360px;
  max-width: 1366px;
}
@media (max-width: 1279px) {
  .wrapper {
    padding: 0 0;
  }
}
/* BLOCKS */
.page-body {
  background-color: #f8f8f8;
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 22px;
}
@media (max-width: 1279px) {
  .page-header {
    justify-content: flex-end;
    position: relative;
    padding: 23px 41px;
    min-height: 120px;
  }
}
@media (max-width: 767px) {
  .page-header {
    padding: 8px 27px;
  }
}
.page-header__logo {
  position: absolute;
  top: 22px;
  left: 0;
}
@media (max-width: 1279px) {
  .page-header__logo {
    width: 50%;
    left: 41px;
  }
}
@media (max-width: 767px) {
  .page-header__logo {
    left: 27px;
  }
}
.page-header__mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .page-header__mobile--active {
    position: absolute;
    top: 0;
    right: 0;
    width: 522px;
    padding: 34px;
    background-color: #EBEBEB;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 5;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  }
}
@media (max-width: 767px) {
  .page-header__mobile--active {
    width: 270px;
    padding: 25px;
  }
}
.page-header__info {
  padding-left: 260px;
}
@media (max-width: 1279px) {
  .page-header__info {
    display: none;
  }
}
@media (max-width: 1279px) {
  .page-header__mobile--active .page-header__info {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-bottom: 15px;
    order: 2;
  }
}
.page-header__text {
  width: 195px;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  color: #000000;
  padding: 0;
  padding-top: 2px;
  margin: 0;
}
@media (max-width: 1279px) {
  .page-header__mobile--active .page-header__text {
    width: 100%;
    text-align: center;
  }
}
.page-header__time {
  font-size: 18px;
  font-weight: 900;
}
.page-header__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 1279px) {
  .page-header__contacts-list {
    display: none;
  }
}
.page-header__contacts-list a:hover {
  transition: 500ms;
  color: #1e3372;
}
.page-header__contacts-list a:active {
  transition: 500ms;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1279px) {
  .page-header__mobile--active .page-header__contacts-list {
    display: block;
    order: 3;
  }
}
@media (max-width: 767px) {
  .page-header__mobile--active .page-header__contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1279px) {
  .page-header__mobile--active .page-header__nav {
    display: block;
    width: 100%;
    margin-top: 50px;
    order: 1;
  }
}
@media (max-width: 1279px) {
  .page-header__mobile--active .page-header__link-catalog {
    background-color: transparent;
    color: #000000;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }
  .page-header__mobile--active .page-header__link-catalog::after {
    content: '';
    display: block;
    width: 12px;
    height: 7px;
    background: url(../../img/arrow.svg) no-repeat 100% 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
  }
}
.page-header__contacts-item {
  padding-left: 25px;
  margin-top: 3px;
  font-weight: 800;
}
@media (max-width: 767px) {
  .page-header__mobile--active .page-header__contacts-item {
    margin-bottom: 20px;
  }
}
.page-header__contacts-item a {
  color: #000000;
}
.page-header__contacts-wapp {
  background: url(../../img/whatsapp.svg) no-repeat 0 50%;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 900;
}
.page-header__mobile--active .page-header__contacts-wapp {
  font-size: 16px;
}
.page-header__contacts-wapp a {
  text-decoration: none;
}
.page-header__contacts-loc {
  background: url(../../img/geo_small.svg) no-repeat 2px 50%;
  font-size: 14px;
}
.page-header__contacts-mail {
  background: url(../../img/mail.svg) no-repeat 2px 50%;
}
@media (max-width: 1279px) {
  .page-header__mobile--active .page-header__contacts-mail {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .page-header__mobile--active .page-header__contacts-mail {
    font-size: 13px;
  }
}
.page-header__call {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .page-header__call {
    display: none;
  }
}
@media (max-width: 1279px) {
  .page-header__mobile--active .page-header__call {
    padding-top: 5px;
    order: 4;
  }
}
@media (max-width: 767px) {
  .page-header__mobile--active .page-header__call {
    display: block;
  }
}
.page-header__call-number {
  display: block;
  padding-left: 25px;
  margin-bottom: 10px;
  background: url(../../img/call.svg) no-repeat 0 50%;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 900;
  color: #000000;
  text-decoration: none;
}
.page-header__call-number:hover {
  transition: 300ms;
  color: #1e3372;
}
.page-header__call-number:active {
  transition: 500ms;
  color: rgba(0, 0, 0, 0.5);
}
.page-header__mobile--active .page-header__call-number {
  font-size: 16px;
}
.page-header__call-button {
  align-self: center;
  display: block;
  padding: 15px 43px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #3157BE;
  border-radius: 100px;
}
.page-header__call-button:hover {
  transition: 300ms;
  background-color: #26428d;
}
.page-header__call-button:active {
  transition: 300ms;
  background-color: #355fd1;
}
.page-header__mobile--active .page-header__call-button {
  padding: 12px 30px;
}
.page-header__button-mobile {
  display: none;
}
@media (max-width: 1279px) {
  .page-header__button-mobile {
    position: relative;
    align-self: flex-end;
    display: block;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    background-color: #3157BE;
    cursor: pointer;
  }
  .page-header__button-mobile:hover {
    transition: 300ms;
    background-color: #26428d;
  }
  .page-header__button-mobile:active {
    transition: 300ms;
    background-color: #355fd1;
  }
  .page-header__button-mobile::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    display: block;
    width: 18px;
    height: 3px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0 7px 0 0 #FFFFFF, 0 14px 0 0 #FFFFFF;
  }
}
@media (max-width: 767px) {
  .page-header__button-mobile {
    align-self: center;
    margin-right: 0;
  }
}
@media (max-width: 1279px) {
  .page-header__button-mobile--open {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  .page-header__button-mobile--open::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: #000000;
    box-shadow: none;
    transform: rotate(45deg);
  }
  .page-header__button-mobile--open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: #000000;
    box-shadow: none;
    transform: rotate(-45deg);
  }
}
@media (max-width: 1279px) {
  .page-header__mobile--active .page-header__button-mobile:hover {
    transition: 300ms;
    background-color: transparent;
  }
  .page-header__mobile--active .page-header__button-mobile:active {
    transition: 300ms;
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .page-header__mobile--active .page-header__lang {
    display: block;
    font-size: 16px;
  }
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  flex-grow: 1;
  padding: 0;
  margin: 22px 10px 20px 0;
  background-color: #EBEBEB;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .nav-header {
    display: none;
    border-radius: 0;
  }
}
.nav-header__link {
  position: relative;
  display: block;
  padding: 16px 30px 16px 15px;
  text-decoration: none;
  font-size: 11px;
  line-height: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}
.nav-header__link:hover {
  transition: 300ms;
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-header__link:active {
  transition: 300ms;
  background-color: rgba(0, 0, 0, 0.05);
}
.nav-header__link::after {
  content: '';
  display: block;
  width: 12px;
  height: 7px;
  background: url(../../img/arrow.svg) no-repeat 100% 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto 0;
}
@media (max-width: 1279px) {
  .nav-header__link::after {
    transform: rotate(-90deg);
    right: 0;
  }
}
@media (max-width: 1279px) {
  .nav-header__link {
    width: 100%;
    padding: 14px 0;
    border-bottom: 1px solid #D8D8D8;
  }
  .nav-header__link:hover {
    text-decoration: underline;
    background-color: transparent;
  }
  .nav-header__link:active {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    background-color: transparent;
  }
}
.nav-header__link-catalog {
  display: block;
  padding: 16px 40px 16px 18px;
  color: #FFFFFF;
  background-color: #3968E8;
  border-radius: 100px;
}
.nav-header__link-catalog:hover {
  transition: 300ms;
  text-decoration: none;
  background-color: #3157BE;
}
.nav-header__link-catalog:active {
  background-color: #396dfc;
}
.nav-header__link-catalog::after {
  content: '';
  display: block;
  width: 12px;
  height: 7px;
  background: url(../../img/arrow-white.svg) no-repeat 100% 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
  margin: auto 0;
}
.nav-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 22px 0 20px 0;
  padding: 0;
  background-color: #EBEBEB;
  border-radius: 20px;
}
.nav-lang:hover {
  transition: 300ms;
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-lang:active {
  transition: 300ms;
  background-color: rgba(0, 0, 0, 0.05);
}
@media (max-width: 1279px) {
  .nav-lang {
    position: absolute;
    top: 0;
    right: 41px;
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .nav-lang {
    display: none;
  }
}
.nav-lang__item {
  padding: 0 10px;
}
.nav-lang__link {
  padding: 0 15px 0 10px;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  background: url(../../img/arrow.svg) no-repeat 100% 50%;
}
@media (max-width: 1279px) {
  .nav-lang__link {
    font-size: 14px;
  }
}
.promo__nav {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: -70px;
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #EBEBEB;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}
@media (max-width: 1279px) {
  .promo__nav {
    margin-top: -50px;
  }
}
@media (max-width: 767px) {
  .promo__nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.promo__nav-link {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 60px 51px 20px;
}
.promo__nav-link::after {
  content: '';
  display: block;
  width: 2px;
  height: 42px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  background: url(../../img/line-promo.svg) no-repeat 50% 50%;
}
@media (max-width: 1279px) {
  .promo__nav-link {
    padding: 60px 27px 20px;
  }
}
.promo__nav li:last-child .promo__nav-link::after {
  display: none;
}
.promo__nav li:nth-of-type(1) .promo__nav-link {
  background: #EBEBEB url(../../img/design.svg) no-repeat 50% 17px;
}
.promo__nav li:nth-of-type(2) .promo__nav-link {
  background: #EBEBEB url(../../img/brochure.svg) no-repeat 50% 25px;
}
.promo__nav li:nth-of-type(3) .promo__nav-link {
  background: #EBEBEB url(../../img/sheeting.svg) no-repeat 50% 25px;
}
.promo__nav li:nth-of-type(4) .promo__nav-link {
  background: #EBEBEB url(../../img/paint-palette.svg) no-repeat 50% 25px;
}
.promo__nav li:nth-of-type(5) .promo__nav-link {
  background: #EBEBEB url(../../img/offset.svg) no-repeat 50% 25px;
}
.promo__nav li:nth-of-type(6) .promo__nav-link {
  background: #EBEBEB url(../../img/printing.svg) no-repeat 50% 25px;
}
.promo__nav li .promo__nav-link:hover {
  transition: 300ms;
  background-color: rgba(0, 0, 0, 0.1);
}
.promo__nav li .promo__nav-link:active {
  transition: 300ms;
  background-color: rgba(0, 0, 0, 0.05);
}
.slider {
  position: relative;
}
@media (max-width: 1279px) {
  .slider {
    width: 100%;
    max-width: 834px;
    margin: 0 auto;
  }
}
.slider__item {
  position: relative;
}
.slider__title {
  position: absolute;
  top: 125px;
  left: 100px;
  font-size: 26px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
}
@media (max-width: 767px) {
  .slider__title {
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
.slider__text {
  position: absolute;
  top: 200px;
  left: 100px;
  font-weight: 800;
  line-height: 18px;
  color: #FFFFFF;
  z-index: 2;
}
@media (max-width: 767px) {
  .slider__text {
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
.slider__item-link {
  display: block;
  padding: 13px 60px 13px 30px;
  position: absolute;
  top: 260px;
  left: 100px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  color: #FFFFFF;
  background: #3157BE url(../../img/arrow-right.svg) no-repeat 85% 50%;
  border-radius: 100px;
  z-index: 2;
  cursor: pointer;
}
.slider__item-link:hover {
  transition: 300ms;
  background-color: #26428d;
}
.slider__item-link:active {
  transition: 300ms;
  background-color: #355fd1;
}
@media (max-width: 767px) {
  .slider__item-link {
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 168px;
  }
}
.slider__img {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-width: 1094px;
  height: auto;
  z-index: 1;
}
@media (max-width: 1279px) {
  .slider__img {
    max-width: 834px;
  }
}
.slider__buttons {
  position: absolute;
  top: 40%;
  left: 56px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
@media (max-width: 767px) {
  .slider__buttons {
    flex-direction: row;
    justify-content: center;
    top: auto;
    left: 0;
    right: 0;
    bottom: 30px;
  }
}
.slider__button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}
.slider__button:hover {
  transition: 300ms;
  background-color: #3157BE;
  border-color: #3157BE;
}
.slider__button:active {
  transition: 300ms;
  background-color: #355fd1;
}
.slider__button--active {
  background-color: #3157BE;
  border-color: #3157BE;
}
.slider__button--active:hover {
  background-color: #26428d;
  border-color: #26428d;
}
.slider__button--active:active {
  transition: 300ms;
  background-color: #355fd1;
  border-color: #355fd1;
}
@media (max-width: 767px) {
  .slider__button {
    margin-bottom: 0;
    margin-right: 5px;
  }
}
@media (max-width: 1279px) {
  .popular-goods {
    max-width: 768px;
    margin: 0 auto;
  }
}
.popular-goods__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.popular-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-goods__item {
  border-radius: 20px;
  overflow: hidden;
  background-color: #FFFFFF;
  margin-bottom: 40px;
}
.popular-goods__item:hover {
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
.popular-goods__item:active {
  opacity: 0.8;
}
.popular-goods__link {
  text-decoration: none;
}
.popular-goods__link picture {
  display: block;
  height: auto;
}
.popular-goods__img {
  width: 333px;
  height: auto;
}
@media (max-width: 1279px) {
  .popular-goods__img {
    width: 229px;
  }
}
@media (max-width: 767px) {
  .popular-goods__img {
    width: 149px;
  }
}
.popular-goods__text {
  width: 333px;
  padding: 18px 20px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 1279px) {
  .popular-goods__text {
    padding: 12px 16px;
    font-size: 13px;
    width: 229px;
  }
}
@media (max-width: 767px) {
  .popular-goods__text {
    font-size: 8px;
    width: 149px;
  }
}
.popular-goods__link-accent {
  position: relative;
  display: block;
  width: 333px;
  height: 100%;
  padding: 95px 22px 22px;
  background-color: #3968E8;
  color: #FFFFFF;
}
@media (max-width: 1279px) {
  .popular-goods__link-accent {
    width: 229px;
  }
}
@media (max-width: 767px) {
  .popular-goods__link-accent {
    width: 149px;
  }
}
.popular-goods__link-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1279px) {
  .popular-goods__link-title {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .popular-goods__link-title {
    font-size: 8px;
  }
}
.popular-goods__accent-text {
  text-align: center;
}
@media (max-width: 1279px) {
  .popular-goods__accent-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .popular-goods__accent-text {
    display: none;
  }
}
.popular-goods__accent-button {
  position: absolute;
  right: 22px;
  bottom: 22px;
  display: block;
  width: 25px;
  height: 12px;
  background: transparent url(../../img/arrow-right.svg) no-repeat 0 0;
  border: none;
}
.popular-goods__button {
  align-self: center;
  display: block;
  width: 260px;
  padding: 15px 20px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #3157BE;
  border-radius: 100px;
}
.popular-goods__button:hover {
  transition: 300ms;
  background-color: #26428d;
}
.popular-goods__button:active {
  transition: 300ms;
  background-color: #355fd1;
}
